# dist/
temp/
node_modules
package-lock.json
.idea/*
LICENSEHEADER
LICENSEHEADERPREV
addlicense.py
*.tgz
dist/src/AsteroidJourney.js
dist/src/Asteroids.js
dist/src/Cells.js
dist/src/Launcher.js
dist/src/Projectiles.js
dist/src/Sprites.js
dist/src/Utils.js
dist/src/animation/Interpolators.js
dist/src/animation/PropertyAnimation.js
dist/src/client/Client.js
dist/src/client/renderer/Renderer.js
dist/src/components/AccelerationComponent.js
dist/src/components/AsteroidComponent.js
dist/src/components/BackgroundGridComponent.js
dist/src/components/BoundingBoxComponent.js
dist/src/components/CameraSpeedFactorComponent.js
dist/src/components/ChunkComponent.js
dist/src/components/ChunkOccupancyComponent.js
dist/src/components/CollisionComponent.js
dist/src/components/ComputedAccelerationComponent.js
dist/src/components/ComputedSpeedComponent.js
dist/src/components/CursorTranslateComponent.js
dist/src/components/EntityDeathComponent.js
dist/src/components/FireControlComponent.js
dist/src/components/HealthComponent.js
dist/src/components/LifetimeComponent.js
dist/src/components/MovementControlComponent.js
dist/src/components/ParticleComponent.js
dist/src/components/PhysicsComponent.js
dist/src/components/PositionComponent.js
dist/src/components/ProjectileComponent.js
dist/src/components/ProjectileSourceComponent.js
dist/src/components/PropertyAnimationComponent.js
dist/src/components/RenderCenterComponent.js
dist/src/components/ResolutionComponent.js
dist/src/components/ScreenPointComponent.js
dist/src/components/SpriteComponent.js
dist/src/components/StatsComponent.js
dist/src/components/TargetPositionComponent.js
dist/src/components/ThrusterComponent.js
dist/src/components/VelocityComponent.js
dist/src/components/ViewportBorderWidthComponent.js
dist/src/components/ViewportComponent.js
dist/src/systems/index.js
dist/src/systems/render/HealthBarRenderSystem.js
dist/src/systems/render/SpriteRenderSystem.js
dist/src/systems/render/ViewportRenderSystem.js
dist/src/systems/render/WorldPreRenderSystem.js
dist/src/systems/render/debug/AxisRenderSystem.js
dist/src/systems/render/debug/BoundingBoxRenderSystem.js
dist/src/systems/render/debug/ChunkBorderRenderSystem.js
dist/src/systems/render/debug/DebugInfoDisplaySystem.js
dist/src/systems/render/debug/OccupiedChunkHighlightingSystem.js
dist/src/systems/simulation/AsteroidDeathSystem.js
dist/src/systems/simulation/BoundingBoxUpdateSystem.js
dist/src/systems/simulation/CollisionDetectionSystem.js
dist/src/systems/simulation/CursorSystem.js
dist/src/systems/simulation/EntityDeathSystem.js
dist/src/systems/simulation/FiringSystem.js
dist/src/systems/simulation/KinematicSystem.js
dist/src/systems/simulation/MovementControlSystem.js
dist/src/systems/simulation/ParticleSystem.js
dist/src/systems/simulation/PositionSystem.js
dist/src/systems/simulation/ProjectileDamageSystem.js
dist/src/systems/simulation/ProjectileSystem.js
dist/src/systems/simulation/ViewportSystem.js
dist/src/systems/simulation/animation/PropertyAnimationSystem.js
dist/src/systems/simulation/chunk/ChunkLoadingSystem.js
dist/src/systems/simulation/chunk/ChunkOccupancyUpdateSystem.js
dist/src/systems/simulation/chunk/ChunkUnloadingSystem.js
dist/src/systems/simulation/chunk/index.js
dist/src/world/Scene.js
dist/src/world/World.js
